<%= form_for :session, :html => {:class => ""}, url: session_path do |form| %>
 
  <div class="text-field mb-3">
    <%= form.label :email, :class => "fw-bold mb-2" %>
    <%= form.text_field :email,  :placeholder => "Type your email here...", :class => "w-100 input-custom bg-gray px-4 form-control rounded-buttons", type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password, :class => "fw-bold mb-2" %>
    <%= form.password_field :password, :placeholder => "Type your password here...", :class => "w-100 input-custom bg-gray px-4 form-control rounded-buttons" %>
  </div>

  <div class="submit-field mt-4">
    <%= form.submit :class => "w-100 btn btn-primary rounded-buttons" %>
  </div>

  <div class="other-links mt-4">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path, :class => "w-100 mb-3 btn btn-light rounded-buttons" %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path, :class => "text-dark" %>
  </div>
<% end %>
