<%= stylesheet_link_tag "sessions" %>
<div id="clearance" class=" container">

  <div class="row ">
    <div class="col-12 pt-3">
      <div className="d-flex justify-content-between">        
        <a href="/"><%= image_tag "logo.png", width: "148px" %></a>
      </div>
    </div>
    <div class="col-12 mb-5 mt-4">
      <div class="mx-auto col-lg-5 col-md-8 col-12 p-4 px-md-5 py-5 shadow-md-custom bg-background rounded-buttons">
        <h1 class="mb-5"><%= t(".title") %></h1>
        <%= form_for @user do |form| %>
          <%= render partial: '/users/form', object: form %>

          <div class="submit-field mt-4">
            <%= form.submit :class => "w-100 btn btn-primary rounded-buttons"%>
          </div>

          <div class="other-links mt-4">
            <%= link_to t(".sign_in"), sign_in_path, :class => "w-100 mb-3 btn btn-light rounded-buttons" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
