<%= stylesheet_link_tag "sessions" %>
<div id="clearance" class=" container">

  <div class="row ">
    <div class="col-12 pt-3">
      <div className="d-flex justify-content-between">
        <a href="/"><%= image_tag "logo.png", width: "148px" %></a>
      </div>
    </div>
    <div class="col-12 mb-5 mt-4">
      <div class="mx-auto col-lg-5 col-md-8 col-12 p-4 px-md-5 py-5 shadow-md-custom bg-background rounded-buttons">
        <div id="clearance" class="password-reset">
          <div id="clearance" class="password-reset">
            <h2 class="mb-3"><%= t(".title") %></h2>

            <p><%= t(".description") %></p>

            <%= form_for :password, url: passwords_path do |form| %>
              <div class="text-field mt-3">
                <%= form.label :email, :class => "fw-bold mb-2" %>
                <%= form.text_field :email, :placeholder => "Type your email here...", :class => "w-100 input-custom bg-gray px-4 form-control rounded-buttons", type: 'email' %>
              </div>

              <div class="submit-field mt-4">
                <%= form.submit :class => "w-100 btn btn-primary rounded-buttons" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
